<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta name="description" content="<%= VUE_APP_DESC %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= BASE_URL %>icon/ms-icon-144x144.png">
  <meta property="og:url" content="<%= VUE_APP_URL %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= VUE_APP_TITLE %>" />
  <meta property="og:description" content="<%= VUE_APP_DESC %>" />
  <meta property="og:image" content="<%= VUE_APP_URL %>/images/og.jpg" />
  <meta property="og:image:width" content="800" />
  <meta property="og:image:height" content="400" />
  <title>
    <%= VUE_APP_TITLE %>
  </title>
  <link rel="apple-touch-icon" sizes="57x57" href="<%= BASE_URL %>icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= BASE_URL %>icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= BASE_URL %>icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= BASE_URL %>icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= BASE_URL %>icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>icon/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Source+Code+Pro&display=swap"
    rel="stylesheet">
  <link rel="stylesheet preload" href="<%= BASE_URL %>styles/common.css" as="style" type="text/css">
  <link rel="stylesheet preload" href="<%= BASE_URL %>styles/seras.css" as="style" type="text/css">
  <link rel="stylesheet preload" href="<%= BASE_URL %>styles/tiptap.css" as="style" type="text/css">
  <link rel="manifest" href="<%= BASE_URL %>icon/manifest.json">
  <% if(process.env.NODE_ENV==='production' ) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CYSQREKHK7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-CYSQREKHK7');
    </script>
    <script data-ad-client="ca-pub-5110777286519562" async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" crossorigin="anonymous"></script>
    <% } %>
</head>

<body>
  <div id="app"></div>
</body>

</html>