  /** font place **********************************************************************************************************************/
  .nunito {
    font-family: 'Nunito', sans-serif !important;
  }

  .font-logo {
    font-weight: 900 !important;
  }

  .font-title {
    font-weight: 700 !important;
    font-size: 1.4em !important;
  }

  body {
    font-family: 'Noto Sans KR', sans-serif !important;
    word-break: keep-all;
  }

  /** app place **********************************************************************************************************************/
  .ss-header img {
    width: 40px !important;
    height: auto !important;
    padding: 2px;
  }

  .ss-footer img {
    width: 30px !important;
    height: auto !important;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  .word-wrap {
    word-break: break-all;
  }

  .word-keep {
    word-break: keep-all;
  }

  .q-tabs__arrow {
    display: none !important;
  }

  .q-toolbar .q-btn{
    font-weight: bold !important;
  }

  /** post place **********************************************************************************************************************/
  .card-title {
    font-size: 1em;
    font-weight: bold;
  }

  .card-author {
    font-size: .9em;
  }

  @media screen and (max-width:599px) {
    .card-title {
      font-weight: normal !important;
      font-size: .8em !important;
    }
  
    .card-author {
      font-size: .7em !important;
    }
  }

  .comment-avatar {
    min-width: 24px !important;
    padding-right: 10px !important;
  }

  .body--light .font-ss {
    color: #17213b !important;
  }

  .body--dark .font-ss {
    color: #DDDDDD !important;
  }

  .q-chip__icon--left {
    margin-right: .3em !important;
  }

  .btn-place .q-fab__actions .q-btn--fab .q-icon,
  .btn-place .q-fab__actions .q-btn--fab-mini .q-icon {
    font-size: 17.14px !important;
    margin: 1vw;
  }

  .btn-place .q-fab__actions {
    margin: 0;
    padding: 2vw;
  }

  .btn-place .q-fab__actions .q-btn {
    margin: 3px !important;
  }

  .q-field__messages {
    line-height: 1.6 !important;
  }

  .q-body--prevent-scroll.platform-ios {
    overflow: hidden;
    height: 1px;
    position: relative !important;
  }

  .q-list--dark, .q-item--dark {
    color: #DDDDDD !important;
  }

  .io-img {
    min-height: 100vh;
  }