/** app place **********************************************************************************************************************/
.body--light,
.q-light {
  color: #17213b !important;
  background: #FAFAFA !important;
}

.body--dark,
.q-dark {
  color: #DDDDDD !important;
  background: #17213b !important;
}

.body--light .q-separator {
  background: rgba(200, 200, 200, 0.4);
}

.body--dark .q-separator {
  background: rgba(255, 255, 255, 0.1);
}

/** number place **********************************************************************************************************************/
@keyframes ball-move-u {
  0% {
    transform: translateX(-50%) translateY(-50%) scaleX(1);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) translateY(-250%) scaleY(0.25);
    opacity: 0;
  }

  51% {
    transform: translateX(-50%) translateY(150%) scaleY(0.25);
  }
}

@keyframes ball-move-r {
  0% {
    transform: translateX(-50%) translateY(-50%) scaleX(1);
    opacity: 1;
  }

  50% {
    transform: translateX(150%) translateY(-50%) scaleX(0.25);
    opacity: 0;
  }

  51% {
    transform: translateX(-250%) translateY(-50%) scaleX(0.25);
  }
}

@keyframes ball-move-d {
  0% {
    transform: translateX(-50%) translateY(-50%) scaleX(1);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) translateY(150%) scaleY(0.25);
    opacity: 0;
  }

  51% {
    transform: translateX(-50%) translateY(-250%) scaleY(0.25);
  }
}

@keyframes ball-move-l {
  0% {
    transform: translateX(-50%) translateY(-50%) scaleX(1);
    opacity: 1;
  }

  50% {
    transform: translateX(-250%) translateY(-50%) scaleX(0.25);
    opacity: 0;
  }

  51% {
    transform: translateX(150%) translateY(-50%) scaleX(0.25);
  }
}

.input-tip{
  background-color: rgba(200,90,100,1) !important;
  max-width:75%;
}

.grecaptcha-badge {
  visibility: hidden;
}

.text-d2r {
  color: #660000 !important;
}

.bg-d2r {
  background-color: #660000 !important;
}

.d2r-logo-w {
  text-shadow: 0 1px 2px rgb(0, 0, 0, 0.6);
}