.ProseMirror {
  min-height: 100%;
}

.ProseMirror:focus {
  outline: none;
}

.table-options {
  background-color: rgba(150,150,150,.2);
  border-radius: 4px;
}

.contents {
  font-size: 1.2em !important;
}

@media screen and (max-width:599px) {
  .contents {
    font-size: 0.8em !important;
  }
}

.contents p,
.contents h1,
.contents h2,
.contents h3,
.contents blockquote {
  margin: 0.1rem 0;
}

.contents li>ol,
.contents li>p,
.contents li>ul {
  margin: 0;
}

.contents {
  line-height: 2;
}

.contents h1,
.contents h2,
.contents h3 {
  line-height: 1.3;
}

.contents h1 {
  font-size: 3em;
}

.contents h2 {
  font-size: 2em;
}

.contents h3 {
  font-size: 1.4em;
}

.contents ol,
.contents ul {
  padding-left: 1.2rem;
}

.contents hr {
  height: 1px;
  width: 98%;
  border: none;
  border-top: solid 1px #DDDDDD;
  margin:0;
}

.contents code {
  background-color: rgba(200,200,200,.2);
  border-radius: 4px;
  padding: .2rem .4rem;
  font-family: 'Noto Sans KR', sans-serif !important;
}

.contents blockquote {
  border-left: 3px solid rgba(0, 0, 0, .1);
  opacity: 0.8;
  padding-left: .8rem;
  font-style: italic;
}

.contents pre {
  padding:2em 1em 1em 1em !important;
  border-radius: 5px;
  background: #000;
  color: #ddd;
  font-size: .8rem;
  position: relative;
}

.contents pre > code {
  background: #000 !important;
  overflow-x: auto;
  padding: 0px !important;
  font-family: 'Source Code Pro', monospace !important;
  font-size: 1.2em;
  border-radius:inherit !important;
}

.contents .tableWrapper {
  margin: 1em 0;
  overflow-x: auto;
}

.contents table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.contents table th {
  font-weight: 700;
  text-align: left;
}

.contents table td, .contents table th {
    min-width: 1em;
    border: 1px solid #ddd;
    padding: 3px 5px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.contents table .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(120,120,120,.1);
  pointer-events: none;
}

@media screen and (max-width:599px) {
  .contents code {
    border-radius: 2px;
    padding: .1rem .2rem;
  }

  .contents pre code  {
    font-size: 0.9em !important;
  }
}

.contents pre code::-webkit-scrollbar {
  transition: all .3s;
  height: 8px;
}

.contents pre code::-webkit-scrollbar-thumb {
  top: 2px;
  border-radius: 4px;
  background-color:rgba(60, 60, 60, 0);
}

.contents pre code::-webkit-scrollbar-track {
  background:rgba(20, 20, 20, 0);
}

.contents pre span.language-notice::before {
  content: '\e86f';
  font-family: 'Material Icons';
  color:rgb(131, 189, 255);
  padding: 2px;
  margin-right: 4px;
  vertical-align: middle;
  line-height: 1em;
}

.contents pre span.language-notice {
  user-select: none;
  position: absolute;
  z-index: 100;
  top:6px;
  right:6px;
  line-height: 1em;
  color:rgba(250, 204, 0, 1);
  opacity: .5;
  background-color: rgba(60, 60, 100, 1);
  padding: 4px;
  border-radius: 4px;
  font-size: 1em;
}

@media screen and (max-width:599px) {
  .contents pre code::-webkit-scrollbar-thumb {
    background-color:rgba(60, 60, 60, 1);
  }

  .contents pre code::-webkit-scrollbar-track {
    background:rgba(20, 20, 20, 1);
  }

  .contents pre span.language-notice {
    font-size: .8em;
  }
}

.contents pre:hover code::-webkit-scrollbar-thumb {
  background:rgba(60, 60, 60, 1);
}

.contents pre:hover code::-webkit-scrollbar-track {
  background:rgba(20, 20, 20, 1);
}

.contents img {
  max-width: 100%;
  border-radius: 3px;
  border: solid 1px rgba(145, 145, 145, 0.2)
}

.contents a {
  color: inherit;
}